.success {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 85px 0px 0px 0px;
}

.success > p {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #247A6B;
    text-align: center;
}

.success .info-holder {
    width: 90%;
    margin-top: 60px;
}

.success .info-holder > div {
    margin-bottom: 40px;
}

.success .info-holder .buyer {
    margin-bottom: 20px;
}

.success .info-holder span {
    display: block;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 12px;
}

.success .info-holder p {
    font-size: 20px;
    margin-bottom: 7px;
}

.success .home {
    width: 100%;
    height: 42px;
    background-color: #E8833A;
    color: #FFFFFF;
    border: 0px;
    border-radius: 3px;
    margin-top: 30px;
    font-size: 18px;
}