.seats {
    width: 95%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0px 115px 0px;
}

.seats > p {
    font-size: 24px;
    color: #293845;
    margin-bottom: 20px;
}

.seats .all-seats-wrapper {
    width: 100%;
    display: grid;
}

.seats .all-seats {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.seats button {
    width: 26px;
    height: 26px;
    border: 1px solid #808F9D;
    background-color: #C3CFD9;
    border-radius: 12px;
    margin: 0px 0px 15px 16%;
    padding: 0px;
}

.seats .selected {
    background-color: #8DD7CF;
}

.seats .unavailable {
    background-color: #FBE192;
    pointer-events: none;
}

.seats .description {
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 13px;
    margin-bottom: 45px;
}

.seats .description > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.seats .description .preview {
    width: 26px;
    height: 26px;
    border-radius: 12px;
}

.seats .preview-available > .preview {
    border: 1px solid #808F9D;
    background-color: #C3CFD9;
}

.seats .preview-selected > .preview {
    border: 1px solid #8DD7CF;
    background-color: #8DD7CF;
}

.seats .preview-unavailable > .preview {
    border: 1px solid #FBE192;
    background-color: #FBE192;
}

.seats .buyer-info-container {
    width: 100%;
}

.seats .buyer-info-container .buyer-info {
    margin-bottom: 25px;
}

.seats .buyer-info-container p {
    margin: 10px 0px 0px 0px;
    color: #293845;
    font-size: 18px;
}

.seats .buyer-info-container .buyer-info input {
    width: 100%;
    height: 51px;
    border: 1px solid #D4D4D4;
    border-radius: 3px;
    padding: 1px 15px;
    font-size: 18px;
}

.seats .buyer-info-container .buyer-info input:focus {
    outline: none;
}

.seats .reserve {
    width: 100%;
    height: 42px;
    background-color: #E8833A;
    color: #FFFFFF;
    border: 0px;
    border-radius: 3px;
    margin: 30px 0px 0px 0px;
    font-size: 18px;
    padding: 10px;
}